tmp/
log/
node_modules/
public/lib/
config/sslcerts/
.env
credentials.py
credentials.bash
srio.jobid
srio.loc_encoded
srio.msgid
srio.project_encoded
srio.code
temp.64
temp.png
temp.svg
./public/scripts/bash/test/credentials.bash
*.pyc
