<div>
<h3 id="-overview-"><strong>Overview</strong></h3>
<p>
ScriptRemote is a MEAN-stack project to provide secure remote access to scripted applications from a browser UI. Basically it is a messaging service between scripts running on machines in protected networks and browsers.  The goal is to make it easy to bring up web UI's for applications for which developing full-custom web or mobile apps is not feasible.
</p>
<h3 id="-features-"><strong>Features</strong></h3>
<ul>
<li>Configurable browser UI based on AngularJS templates</li>
<li>Native script-based utilities (bash, python2.7) for script-to-server communication</li>
<li>API for adding script or other client interfaces </li>
<li>Hierarchical message organization
<li>Message attached files (text, png, svg)</li>
<li>Message sharing with permissions</li>
<li>Firewall friendly - uses only http/https and mail protocols</li>
<li>End-to-end script-browser message encryption</li>
<li>Notifications</li>
</ul>
<div>
